* {
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

body {
    font: 14px/1 Arial, sans-serif;
}

.page {
    padding: 50px;
}

.page-data {
    width: 70%;
}
.data-btn {
    padding-bottom:10px;
}

.data-table table {
    border-collapse: collapse;
    width: auto;
}

.data-table th, .data-table td {
    border: 1px solid #bbb;
    max-width: 150px;
    padding: 8px 16px;
}

.data-table th {
    background-color: lightgrey;
    border-width: 1px;
}

.data-table td {
    border-width: 1px;
}


.label {
    color: #555;
    vertical-align:middle;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
